/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

body {
  color: #0072bb;
  height: 100%;
  min-height: 100%; /*So the footer can stay in the bottom*/
  margin: 0; /*Så att bilden kommer ända upp*/
  font-family: 'Montserrat', sans-serif;
}
header {
  margin: 0;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("surfpic.jpg"); /*För att tona ner bilden lite*/
  display: flex;
  flex-direction: column;
  height:550px;
  width: 100%;
  background-position: center; /*Centrerar bilden vertikalt*/
  background-repeat: no-repeat; /*Så att bilden bara syns en gång*/
  background-size: cover; /* Minskar bilden*/
  position: relative;
}
.menu{
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
.menu p{
border: 2px solid white;
border-radius: 5px;
font-family: "montserrat", sans-serif;
color: white;
padding: 5px;
background-color: #0072bb;
font-size: 18px;
opacity: 1;
margin: 20px;
}

.menu img {
  height: 55px;
  border-radius: 50%;
  padding: 10px;
}

.hero-text {
  /* height: 310px; */
  margin: 5px 15px 50px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around; /*För att sprida ut h1, p och h2*/
  padding: 10px;
  background:rgba(255, 255, 255, 0.795);
  border: 1px solid grey;
  border-radius: 3px;
  box-shadow: 8px 10px rgba(128, 128, 128, 0.795);
}
.hero-text p{
  color:black;
  margin: 10px;
}
h1 {
  margin: 0;
  padding: 10px 10px 0 10px;
  text-transform: uppercase;
}
.button {
  border: 2px solid #0072bb;
  border-radius: 5px;
  font-family: "montserrat", sans-serif;
  color: #0072bb;
  font-size: 18px;
  opacity: 1; /*då blir det samma opacity som föräldern*/
  margin: 0 50px;
}

.bookingForm{
  display:flex;
  flex-direction: column;
  /* width: 400px; */
  background:azure;
  padding: 10px;
  border: 2px solid #0072bb;
  border-radius: 2px;
  height:0px; /*TEST*/
  opacity:0;/*TEST*/
  visibility: hidden;
}
.exitbutton{
  /* width: 26px; */
}
label{
  margin: 8px;
}
input{
  border: 1px solid #0072bb;
  width:100%;
  background: white;
}
select{
  border: 1px solid #0072bb;
  width:100%;
  background: white;
}
.checkbox{
  display: flex;
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  margin: 5px;
  border: 1px solid #0072bb;
  border-radius: 5px;
  white-space: nowrap; /*So the text is one row and not two*/
  padding:
}
.bookingForm button{
  border: 2px solid #0072bb;
  border-radius: 5px;
  font-family: "montserrat", sans-serif;
  color: #0072bb;
  font-size: 18px;
  opacity: 1; /*då blir det samma opacity som föräldern*/
  /* margin: 0 20px; */
}
.message{
  height: 100px;
  width: 100%;
}
.active{
}
.active + .bookingForm {
  display:flex;
  text-align: left;
  opacity:1;
  height:100%;
  visibility: visible;
  transition: 1s;
  /* overflow: scroll; */
  /* some styling here */
}
/*
.exitbutton {
  padding: 0;
  width:24px;
  margin: 0;
  /*display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: #0072bb;
}

form p{
  background: #0072bb;
  padding: 2px;
  border-radius: 2px;
  justify-self: right;
  width:12px;
}*/

.accordion{
  padding: 0 10px 30px 10px;
  background-color: #00b0ea;
  margin:0;
  /* display: flex; */
  /* flex-direction: column; */
}
.question {
  background: #0072bb;
  color: white;
  /* margin: 0 10px; */
  padding:10px;
  border: 2px solid navy;
}
.answer1, .answer2, .answer3, .answer4{
  background: white;
  /* margin: 0 10px; */
  padding:10px;
  display: none;
  height:0;
  opacity: 0;
}
.open {
  background: navy;
}
.open + .answer1, .open + .answer2, .open + .answer3, .open + .answer4{
  display: flex;
  height:100%;
  opacity: 1;
}

/***NEWSLETTER***/
.newsletter{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  margin:5px 0 0 0;
  }
  .newsletter img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    padding: 10px;
  }
  .newsletter h2 {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
  }
  .newsletter div{
    display: flex;
    flex-direction: row;
  }

  .newsletter button, .newsletter input{
    margin: 0 0 0 5px;
    border: 2px solid #0072bb;
  border-radius: 5px;
  font-family: "montserrat", sans-serif;
  color: #0072bb;
  font-size: 12px;
  padding: 5px;
  }

  /***FOOTER***/
  footer {
    background-color: #00b0ea;
    font-size: 10px;
    color: navy;
    height: 100px;
    display: flex; /*To center*/
    align-items: center; /*vertical center */
    margin-top: 10px;
  }

  footer img{
  width: 80px;
  margin: 20px;
  }

  footer a{
  text-decoration: none;
  }

  /***MEDIA QUERIES***/

/************************************************/

/***TABLET***/
@media (min-width: 668px) and (max-width: 1024px){
  .hero-image{
    /* height: 50%; */
  }
  .hero-text{;
  width: 270px;
  align-self: center;
}
.tablet-view{
  display:flex;
}
.accordion{
  background-color: white;
  width: 60%;
}
.newsletter{
  margin: 10px;
}
.active + .bookingForm{
  width: 400px;
  align-self: center;
}


.open + .answer1, .open + .answer2, .open + .answer3, .open + .answer4{
  height:auto;
  background-color: #00b0ea;
  color: navy;
}

}

/***DESKTOP***/
@media (min-width: 1025px){
  .hero-image{
    /* height: 50%; */
  }
  .menu img:hover{
    height: 65px;
    padding:5px;
  }
  .menu p:hover{
    background-color: #0073bb00;
    color:
  }
  .button:hover {
    background-color: #0072bb;
    color:white;
    }
  .hero-text{;
  width: 570px;
  align-self: center;
}
.tablet-view{
  display:flex;
  justify-content: space-between;
  padding: 20px;
}
.accordion{
  background-color: white;
flex: 1;
}
.newsletter{
  margin: 20px 50px 20px 20px;
}
.active + .bookingForm{
  width: 400px;
  align-self: center;
}


.open + .answer1, .open + .answer2, .open + .answer3, .open + .answer4{
  height:auto;
}


}