body {
  color: #0072bb;
  height: 100%;
  margin: 0; /*So that hero-image is all the way up*/
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/***HEADER***/
header {
  margin: 0;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("surfpic.jpg"); /*För att tona ner bilden lite*/
  display: flex;
  flex-direction: column;
  height:550px;
  width: 100%;
  background-position: center; /*Centers the image vertically*/
  background-repeat: no-repeat; /*The image should only be shown once*/
  background-size: cover; /*Makes the image fit*/
  /* position: relative; */
}
.menu{
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}

/***HEADER - about us***/
.menu p{
  border: 2px solid white;
  border-radius: 5px;
  font-family: "montserrat", sans-serif;
  color: white;
  padding: 5px;
  background-color: #0072bb;
  font-size: 18px;
  margin: 20px;
  box-shadow: 4px 4px 2px 0px rgba(30, 30, 30, 0.75);
}

/***HEADER - logo***/
.menu img {
  height: 55px;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 4px 4px 2px 0px rgba(30, 30, 30, 0.75);
}

/***HEADER - white card***/
.hero-text {
  margin: 5px 15px 50px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background:rgba(255, 255, 255, 0.795);
  border-radius: 3px;
  box-shadow: 10px 10px 5px 0px rgba(30, 30, 30, 0.75);
  position: absolute; /*Because safari didn't like my form*/
  top: 100px;
}

.hero-text p{
  color:black;
  margin: 10px;
}
h1 {
  margin: 0;
  padding: 10px 10px 0 10px;
  text-transform: uppercase;
}
.button {
  border: 2px solid #0072bb;
  border-radius: 5px;
  font-family: "montserrat", sans-serif;
  color: #0072bb;
  font-size: 18px;
  margin: 0 50px;
}

/***FORM***/
.bookingForm{
  display:flex;
  flex-direction: column;
  background:azure;
  padding: 10px;
  border: 2px solid #0072bb;
  border-radius: 5px;
  height:0px; /*So the form doesn't take up any space when it's not open*/
  visibility: hidden;
}
label{
  margin: 8px 0;
}
input{
  border: 1px solid #0072bb;
  width:100%;
  background: white;
}
select{
  border: 1px solid #0072bb;
  width:100%;
  background: white;
}
.checkbox{
  display: flex;
  align-items: left;
  margin: 5px 0;
  border: 1px solid #0072bb;
  border-radius: 5px;
  white-space: nowrap; /*So the text is one row and not two*/
}
.bookingForm button{
  border: 2px solid #0072bb;
  border-radius: 5px;
  font-family: "montserrat", sans-serif;
  color: #0072bb;
  font-size: 18px;
  margin: 8px 0 0 0;
}
.message{
  height: 80px;
  width: 100%;
}
.active + .bookingForm {
  display:block;
  text-align: left;
  opacity:1;
  height:100%;
  visibility: visible;
}

/***FAQ-accordion***/
.accordion{
  padding: 0 10px 30px 10px;
  background-color: #00b0ea;
  margin:0;
}
.question {
  background: #0072bb;
  color: white;
  padding:10px;
  border: 2px solid navy;
}
.answer1, .answer2, .answer3, .answer4{
  background: white;
  padding:10px;
  display: none;
  height:0;
}
.open {
  background: navy;
}
.open + .answer1, .open + .answer2, .open + .answer3, .open + .answer4{
  display: flex;
  height:100%;
}

/***NEWSLETTER***/
.newsletter{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  margin:5px 0 0 0;
  }
  .newsletter img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    padding: 10px;
  }
  .newsletter h2 {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
  }
  .newsletter div{
    display: flex;
    flex-direction: row;
  }
  .newsletter button, .newsletter input{
    margin: 0 0 0 5px;
    border: 2px solid #0072bb;
  border-radius: 5px;
  font-family: "montserrat", sans-serif;
  color: #0072bb;
  font-size: 12px;
  padding: 5px;
  }

  /***FOOTER***/
  footer {
    background-color: #00b0ea;
    font-size: 10px;
    color: navy;
    height: 100px;
    display: flex; /*To center*/
    align-items: center; /*vertical center */
    margin-top: 10px;
  }
  footer img{
    width: 80px;
    margin: 20px;
  }
  footer a{
    text-decoration: none;
  }

  /***MEDIA QUERIES***/

/************************************************/

/***TABLET***/
@media (min-width: 668px) and (max-width: 1024px){
  .hero-text{
    width: 270px;
    align-self: center;
    top: 80px;
  }
  .active + .bookingForm{
    width: 400px;
    align-self: center;
  }
  .tablet-view{
    display:flex;
    justify-content: space-between;
    padding: 20px;
  }
  .accordion{
    background-color: white;
    width: 60%;
  }
  .open + .answer1, .open + .answer2, .open + .answer3, .open + .answer4{
    height:auto;
    background-color: #00b0ea;
    color: navy;
  }
  .newsletter{
    margin: 10px;
  }

}

/***DESKTOP***/
@media (min-width: 1025px){
  .menu img:hover{
    height: 65px;
    padding:5px;
  }
  .menu p:hover{
    background-color: rgba(0, 0, 0, 0);
  }
  .button:hover {
    background-color: #0072bb;
    color:white;
    }
  .hero-text{
    width: 570px;
    align-self: center;
  }
  .active + .bookingForm{
    width: 400px;
    align-self: center;
  }
  .tablet-view{
    display:flex;
    justify-content: space-between;
    padding: 20px;
  }
  .accordion{
    background-color:white;
    flex: 1;
  }
  .open + .answer1, .open + .answer2, .open + .answer3, .open + .answer4{
    height:auto;
    background-color: azure;
  }
  .newsletter{
    margin: 20px 50px 20px 20px;
  }
}